

.cart__left{
    height: 300px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 1) 0 2px 5px;
    border: #F68418 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

.box__img{
    width: 100px;
}

.cart__left img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

